<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css" />

    </head>
    <body>
        {% include 'inc/nav-bar.twig'%}
        {% block content %}{% endblock %}
        <script src="{{ asset('jquery/jquery.js') }}" charset="utf-8"></script>
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" charset="utf-8"></script>
        <script src="{{ asset('js/app.js') }}" charset="utf-8"></script>
    </body>
</html>
