<nav class="nav-foot">

    <div class="ribbon-rent">
      Renta desde <span class="ribbon-rent-label">$30</span> al día
    </div>
  <div class="img-foot">
    <img src="{{ asset('img/brand-foot.png') }}" alt="" />
  </div>
  <div class="p-foot">
    <p>
      Atención al cliente <br />
      01 800 272 02 91 <br />
      Nuestro horario de atención telefónica es 24 hrs.<br />
    </p>
  </div>
</nav>
